VITE_SUPER_ADMIN_PASSWORD=change-this-local-shell-password
VITE_PLATFORM_ADMIN_PASSWORD=change-this-local-shell-password
VITE_SUPPORT_AGENT_PASSWORD=change-this-local-shell-password
VITE_FINANCE_ADMIN_PASSWORD=change-this-local-shell-password
